p {
  font-size: 1rem;
}

.btn-custom {
  background-color: #2e2e48;
  border-color: #f1f5f8;
  color: #f1f5f8;
  width: auto;
  padding: 10px;
  font-size: 1rem;
}

.btn-custom:hover {
  background-color: #2c2e48;
  color: #f1f5f8;
}
