.nav-pills .nav-link.active {
  background-color: White;
  color: black;
}
.buttonCustom {
  color: black;
}
.width-80 {
  width: 80%;
}
.nav-pills {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Aligns items to the start of the flex container */
}

.nav-link {
  display: flex;
  align-items: center; /* Aligns items vertically in the center */
}

.nav-link img {
  margin-right: 8px; /* Adjust as needed for spacing */
}
.btn-primary {
  background-color: #2e2e48; /* Your button color */
  color: #f1f5f8;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.p-absolute {
  position: absolute;
}

.ml-14rem {
  margin-left: 14rem;
}
