.sideBar-custom {
  background-color: #2e2e48;
  color: white;
  height: 100vb;
  width: auto;
  border-radius: 12px;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: medium;
  position: fixed;
  flex-grow: 0;
  flex-shrink: 0;
}

.sideBar-hidden {
  background-color: #2e2e48;
  color: white;
  min-height: 100vb;
  width: 5%;
  border-radius: 20px;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: medium;
}

.rotateIcon {
  transform: rotate(180deg);
}

.colorPrimary {
  color: #2e2e48;
}

.ResponsiveImage {
  width: 100%;
}

.hideImage {
  width: 100%;
}

.nav-list {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding-top: 15px;
  width: 100%;
}

.nav-element {
  display: flex;
  align-items: center;
  padding: 15px 0px;
  justify-content: center;
  gap: 15px;
  width: 100%;
  overflow: hidden;
}
.text-white {
  color: white;
}

.m-width {
  min-width: 87px;
}

.logoutIcon {
  padding: 3px 8px;
}

.hideIcon {
  align-items: center;
  font-size: 30px;
}

.logoutHidecontainer {
  gap: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hidebtn {
  display: block;
  background-color: inherit;
  border: none;
  color: white;
}

.active-link {
  border-left: 5px solid #7e73ff;
}
